#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  --grid-size: 640px;

  height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  --grid-count: 10;
  height: var(--grid-size);
  width: var(--grid-size);
  position: relative;

  background-image: linear-gradient(to right, #555 1px, transparent 1px),
    linear-gradient(to bottom, #555 1px, transparent 1px);
  background-size: calc(calc(var(--grid-size) - 1px) / var(--grid-count))
    calc(calc(var(--grid-size) - 1px) / var(--grid-count));
}
